## Custom
flaskapi/runs/*
*__pycache__*
src/assets/*Inputs*.json
*.conf.json
flaskapi/mmux_python

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# testing
.coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*/.venv*/

docker-compose.yml
*.env
*.ignore.*

# Run data values
predictions.dat
results.dat
variances.dat
dakota.rst
dakota_*.txt
stderr
stdout
fort.*

validation/