/* Header card styling */
/* TODO add for setup & sumo-building (diff colors) */
.header {
    background-color: #202427 !important;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}
