:8888 {
    # Root path handling for Node.js frontend/main app
    handle / {
        reverse_proxy {$WEB_SERVICE} {
            health_uri /
        }
    }

    # Flask backend API paths
    handle /flask/* {
        reverse_proxy {$BACKEND_SERVICE} {
            health_uri /flask/hello
        }
    }

}