.non-active {
  width: 100%;
  height: 100%;
  display: none;
}
.active {
  display: block;
}

/* Background card styling */
.background-card {
    /* min-height: 20vh; */
    max-width: 1000px;
    /* border: 15px solid purple; */
    /* padding: 10px; */
    /* align-items: top;  */
    /* text-align: left; */
    margin: 0 auto; /* center alignment of the app*/
}